body {
    font-family: arial, sans-serif;
    background-color: #F2F2F2;

}

.weather-logo {
        max-width: 100px;
        /* display: block; */
        margin: 0 0 20px 0;

}

.logo-text {
    font-family: Space Grotesk, Arial,sans-serif;
    font-size: 64px;
    margin: -100px 0px 0px 79px;
    color: #68767e;
    font-weight: 600;
}

.location {
    color: #000;
    font-size: 14px;
    opacity: 0.5;
    border-bottom: 2px dotted #e96e50;
    text-decoration: none;
    float: right;
    margin: 0 163px 0px 0px;
}
.location:hover {
    color: #000;
    opacity: 0.7;
}

.col-2 {
    width: 13.666667%;
}

.weather-app {
    max-width: 680px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    background: #ffff;
    border-color:#e96e50;;
}

.weather-info {
    margin-top: 30px;
}

#city-input:focus {
    border-color: #6c757d;
    box-shadow:none;

}

a {
    text-decoration:none;
}

h1 {
    color: #e96e50;
    font-size: 34px;
    font-weight: 100;
    line-height: 48px;
    margin: 8px 0 4px;
  }

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;

}

li:first-letter {
    text-transform: capitalize;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature {
    margin: 20px 3px 0px 89px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
    margin-top: -30px;

}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 100;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size:  16px;
    top: -34px;
}
.weather-forecast-cards {
    margin: 0 5px 0 5px;
}

.weather-forecast-cards:first-child {
    margin: 0 5px 0 13px;
}

.weather-forecast-cards:last-child {
    margin: 0 8px 0 5px;
}


.weather-forecast-cards:hover {
    border-color: #f86a47;
}

footer {
    color: rgba(39,33,66,.4);
    font-size: 14px;
    margin-top: 41px;
    line-height: 18px;
    text-align: center;

}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;

}

.weather-temperature .active:hover {
    text-decoration: none;
}


.weather-temperature .farenh {
    text-decoration: none;
}

.weather-temperature .farenh:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;

}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.weather-forecast-temperature {
    font-size:  13px;
    color: #e96e50;
    
}

.weather-forecast-temperature-text {
    opacity: 0.5;
    font-size: 12px;
}

